.button{
  background: transparent;
  display: inline-block;
  cursor: pointer;
  padding: 5px  10px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  transition: background  ease-in-out 0.1s;
}